In [1]:
import pandas as pd
from tools.preprocessing_data import encode_data_to_numeric, load_data

In [2]:
load_data().describe()

/Users/inagege/Documents/00_Uni/SeminarSocialSentimentInTimesOfCrisis/tools/preprocessing_data.py:10: DtypeWarning: Columns (55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,73,74,75,148,161,166) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv("../Data/data_sample_700_SOSEC_dataset_germany.csv")

,Unnamed: 0,i_NUMBER,i_TIME,wave_first,F1A1_1,F1A2_1,F1A3_1,F1A4_1,F1A5_1,F1A6_1,...,F5fA3_1,F71invest,F71moral,F71finanziell,NEU3,NEU4,F3B_Huthi,population_total,population_density_level,all_persons
count,39724.000000,39724.000000,39724.000000,39724.000000,39724.000000,39724.000000,39724.000000,39724.000000,39724.000000,39724.000000,...,5199.000000,1991.000000,1991.000000,1991.000000,3342.000000,3342.000000,5441.000000,39549.000000,39549.000000,39724.0
mean,40779.036628,146740.275853,1506.115270,16.598152,3.315955,4.495569,5.013971,4.784387,3.084508,4.596214,...,3.192537,2.551482,4.837268,4.990457,4.164871,2.852484,7.801139,18565.014362,2109.355801,1.0
std,23126.723086,115754.567018,11482.913355,19.169106,1.525599,1.652046,1.702588,1.730199,1.450744,1.727323,...,1.437707,0.799017,2.202246,2.142278,1.429596,1.403407,2.459556,10060.796204,3165.578327,0.0
min,0.000000,16.000000,60.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.0
25%,20554.000000,31981.000000,483.000000,1.000000,2.000000,3.000000,4.000000,4.000000,2.000000,3.000000,...,2.000000,2.000000,3.000000,3.500000,3.000000,1.000000,6.000000,11615.000000,226.225853,1.0
50%,41178.500000,132136.000000,660.000000,5.000000,3.000000,5.000000,5.000000,5.000000,3.000000,5.000000,...,3.000000,3.000000,4.000000,4.000000,5.000000,3.000000,8.000000,17867.000000,771.919083,1.0
75%,62716.500000,256451.250000,959.000000,35.000000,4.000000,6.000000,7.000000,6.000000,4.000000,6.000000,...,4.000000,3.000000,7.000000,7.000000,5.000000,4.000000,10.000000,24226.000000,2567.963046,1.0
max,78030.000000,354302.000000,583034.000000,57.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,...,7.000000,4.000000,8.000000,8.000000,6.000000,5.000000,11.000000,58782.000000,26152.091224,1.0

In [75]:
relevant_data = load_data().drop(columns=["i_START", "i_END", "i_TIME", "unique_id", "wave_first", "F6a_bswA1", "F6a_bswA2", "F6b_bswA1", "F6b_bswA2", "respondent_id", "F3B_Hamas", "F3B_Israel", "F3B_Deutschland", "F3B_USA", "F3B_UN", "F3B_Iran", "F3B_Katar", "F3_USA", "F3_CHINA", "F3_Deutschland", "F3_Russland", "F3_Ukraine", "F3_EU", "F3_NATO", "F4aA1", "F4aA2", "F4bA1", "F4bA2", "F4bA3", "F4bA4", "F4bA5", "F4bA6", "F4bA7", "F4bA8", "F4bA9", "F4bA10", "F4bA11", "F4bA12", "F4bA13", "F4bA14", "F4iA1", "F4i_aA1", "F4iA2", "F4i_bA1", "F4i_neuA1", "F4i_neuA2", "F4i_neuA3", "F5bA1_1", "F5bA2_1", "F5bA3_1", "F5bA4_1", "F5bA5_1", "F5bA6_1", "F6a_cduA1", "F6a_cduA2", "F6a_cduA1", "F6a_spdA2", "F6a_fdpA1", "F6a_fdpA2", "F6a_gruenenA1", "F6a_gruenenA2", "F6a_linkeA1", "F6a_linkeA2", "F6a_afdA1", "F6a_afdA2", "F6b_cduA1", "F6b_cduA2", "F6b_spdA1", "F6b_spdA2", "F6b_fdpA1", "F6b_fdpA2", "F6b_gruenenA1", "F6b_gruenenA2", "F6b_linkeA1", "F6b_linkeA2", "F6b_afdA1", "F6b_afdA2", "F6mA1_1"])

In [85]:
current_questions_df = relevant_data[relevant_data['year_month'] >= pd.Period('2024-05', freq='M')]

current_questions_df.dropna(axis=1, how='all', inplace=True)

# Print the filtered DataFrame
print(current_questions_df)

       Unnamed: 0  i_NUMBER  F1A1_1  F1A2_1  F1A3_1  F1A4_1  F1A5_1  F1A6_1  \
34984       70732     23857       5       4       4       4       4       4
34987       70792     24042       2       4       5       7       1       4
34998       70781     23998       1       6       7       5       2       7
35002       70699     23641       5       4       4       2       6       2
35007       70774     23973       3       5       5       6       2       7
...           ...       ...     ...     ...     ...     ...     ...     ...
39719       77487     44908       5       4       5       3       5       3
39720       76806     44009       1       7       7       7       2       7
39721       76577     43717       6       3       7       4       5       4
39722       76728     43904       3       6       7       1       3       6
39723       77115     44413       4       5       5       4       5       3

       F1A7_1  F1A8_1  ...  Ende_Datum                state  region  \
34984       4       4  ...  2024-05-03  Nordrhein-Westfalen    west
34987       6       5  ...  2024-05-03  Nordrhein-Westfalen    west
34998       7       7  ...  2024-05-03    Baden-Württemberg    west
35002       2       2  ...  2024-05-03               Bremen    west
35007       7       7  ...  2024-05-03  Nordrhein-Westfalen    west
...       ...     ...  ...         ...                  ...     ...
39719       3       4  ...  2024-07-19  Nordrhein-Westfalen    west
39720       7       7  ...  2024-07-19               Bayern    west
39721       3       4  ...  2024-07-19               Hessen    west
39722       6       6  ...  2024-07-19   Schleswig-Holstein    west
39723       3       3  ...  2024-07-19  Nordrhein-Westfalen    west

       migration_background  \
34984                 False
34987                 False
34998                 False
35002                  True
35007                 False
...                     ...
39719                 False
39720                 False
39721                 False
39722                 False
39723                 False

                                               town_name  population_total  \
34984                                   40235 Düsseldorf           17101.0
34987  45659 Recklinghausen-West, Hochlar, Hillerheid...           20245.0
34998                            71672 Marbach am Neckar           15253.0
35002  28217 Bremen Westend, Utbremen, Steffensweg, Ü...           14252.0
35007                                      46236 Bottrop           23552.0
...                                                  ...               ...
39719                                      46242 Bottrop           22530.0
39720                                    89275 Elchingen            9122.0
39721                                    65201 Wiesbaden           15798.0
39722                                    25355 Barmstedt           12731.0
39723                                  53947 Nettersheim            7585.0

       population_density_level  all_persons   date_only  year_month
34984               6521.876757            1  2024-05-02     2024-05
34987                850.253640            1  2024-05-03     2024-05
34998                762.835255            1  2024-05-02     2024-05
35002               2585.009015            1  2024-05-02     2024-05
35007               4823.252533            1  2024-05-02     2024-05
...                         ...          ...         ...         ...
39719               2151.529768            1  2024-07-18     2024-07
39720                367.763457            1  2024-07-18     2024-07
39721                793.396658            1  2024-07-18     2024-07
39722                166.251250            1  2024-07-18     2024-07
39723                 80.191996            1  2024-07-18     2024-07

[4187 rows x 159 columns]

/var/folders/q6/xp9ntqs504g_7q5mrx26_wdc0000gn/T/ipykernel_40212/2008185774.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_questions_df.dropna(axis=1, how='all', inplace=True)

In [86]:
old_questions_df = relevant_data[relevant_data['year_month'] < pd.Period('2024-05', freq='M')]

old_questions_df.dropna(axis=1, how='all', inplace=True)

# Print the filtered DataFrame
print(old_questions_df)

       Unnamed: 0  i_NUMBER  F1A1_1  F1A2_1  F1A3_1  F1A4_1  F1A5_1  F1A6_1  \
0            1180      2260       4       5       4       4       4       2
1            1352      2538       4       6       7       3       5       5
2             464      1129       2       6       3       6       1       5
3              21       275       2       5       7       7       2       6
4             603      1344       2       5       4       3       3       5
...           ...       ...     ...     ...     ...     ...     ...     ...
35628       70225     21579       2       5       5       6       3       7
35629       70198     21495       7       2       3       1       6       1
35630       70221     21567       4       5       5       4       3       4
35631       70497     22485       3       3       4       4       5       4
35632       70293     21946       4       6       5       2       3       4

       F1A7_1  F1A8_1  ...  Ende_Datum                state  region  \
0           2       3  ...  2022-11-09    Baden-Württemberg    west
1           4       5  ...  2022-11-09               Bayern    west
2           6       6  ...  2022-11-09             Saarland    west
3           7       7  ...  2022-11-09   Schleswig-Holstein    west
4           5       6  ...  2022-11-09    Baden-Württemberg    west
...       ...     ...  ...         ...                  ...     ...
35628       7       6  ...  2024-05-03    Baden-Württemberg    west
35629       1       1  ...  2024-05-03        Niedersachsen    west
35630       4       4  ...  2024-05-03  Nordrhein-Westfalen    west
35631       5       3  ...  2024-05-03    Baden-Württemberg    west
35632       4       2  ...  2024-05-03  Nordrhein-Westfalen    west

       migration_background            town_name  population_total  \
0                     False    69439 Zwingenberg             713.0
1                      True     92339 Beilngries            8746.0
2                     False    66440 Blieskastel           21247.0
3                     False   23617 Stockelsdorf           16493.0
4                     False     72770 Reutlingen           20856.0
...                     ...                  ...               ...
35628                 False    71640 Ludwigsburg           16001.0
35629                  True  21629 Neu Wulmstorf           19888.0
35630                 False    51688 Wipperfürth           21725.0
35631                 False       78467 Konstanz           31068.0
35632                 False           53111 Bonn           19084.0

       population_density_level  all_persons   date_only  year_month
0                    150.474798            1  2022-11-08     2022-11
1                     87.520847            1  2022-11-08     2022-11
2                    196.134512            1  2022-11-08     2022-11
3                    289.859316            1  2022-11-04     2022-11
4                    564.477111            1  2022-11-08     2022-11
...                         ...          ...         ...         ...
35628               3341.276025            1  2024-04-26     2024-04
35629                352.336085            1  2024-04-26     2024-04
35630                185.695198            1  2024-04-26     2024-04
35631               1969.995800            1  2024-04-28     2024-04
35632               7910.705692            1  2024-04-27     2024-04

[35537 rows x 164 columns]

/var/folders/q6/xp9ntqs504g_7q5mrx26_wdc0000gn/T/ipykernel_40212/1645078441.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  old_questions_df.dropna(axis=1, how='all', inplace=True)

In [3]:
unique_states = load_data()['state'].unique()
print(unique_states)

['Baden-Württemberg' 'Bayern' 'Saarland' 'Schleswig-Holstein'
 'Nordrhein-Westfalen' 'Brandenburg' 'Hessen' 'Thüringen' 'Berlin'
 'Niedersachsen' nan 'Rheinland-Pfalz' 'Sachsen' 'Mecklenburg-Vorpommern'
 'Hamburg' 'Sachsen-Anhalt' 'Bremen']

/Users/inagege/Documents/00_Uni/SeminarSocialSentimentInTimesOfCrisis/tools/preprocessing_data.py:10: DtypeWarning: Columns (55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,73,74,75,148,161,166) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv("../Data/data_sample_700_SOSEC_dataset_germany.csv")

In [4]:
non_numeric_columns = load_data().select_dtypes(exclude=['number']).columns
print(non_numeric_columns)

Index(['i_START', 'i_END', 'unique_id', 'F4aA1', 'F4aA2', 'F4bA1', 'F4bA2',
       'F4bA3', 'F4bA4', 'F4bA5', 'F4bA6', 'F4bA7', 'F4bA8', 'F4bA9', 'F4bA10',
       'F4bA11', 'F4bA12', 'F4bA13', 'F4bA14', 'F4i_neuA1', 'F4i_neuA2',
       'F4i_neuA3', 'F4iA1', 'unique_ids', 'kitA6', 'Start_Datum',
       'Ende_Datum', 'state', 'region', 'migration_background', 'town_name'],
      dtype='object')

/Users/inagege/Documents/00_Uni/SeminarSocialSentimentInTimesOfCrisis/tools/preprocessing_data.py:10: DtypeWarning: Columns (55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,73,74,75,148,161,166) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv("../Data/data_sample_700_SOSEC_dataset_germany.csv")

In [42]:
#iStart and iEnd are time stamps can be indized starting from lowest day = 0, next day 1...
#unique_id, unique_ids is numeric when deleting the first 4 characters of the string and then converting to numeric
#'F4aA1', 'F4aA2', 'F4bA1', 'F4bA2', 'F4bA3', 'F4bA4', 'F4bA5', 'F4bA6', 'F4bA7', 'F4bA8', 'F4bA9', 'F4bA10', 'F4bA11', 'F4bA12', 'F4bA13', 'F4bA14', 'F4i_neuA1', 'F4i_neuA2', 'F4i_neuA3', 'F4iA1' has to be handeled by changing strings with , to . and then converting to numeric
#migration_background is boolean needs to be encoded into numeric
#kitA6 and 'state' is string needs to be encoded into numeric

['2022-11-08 20:12:40' '2022-11-08 21:19:05' '2022-11-08 17:50:23' ...
 '2024-07-18 10:46:49' '2024-07-18 11:02:40' '2024-07-18 13:08:07']

In [5]:
encode_data_to_numeric().head()

/Users/inagege/Documents/00_Uni/SeminarSocialSentimentInTimesOfCrisis/tools/preprocessing_data.py:10: DtypeWarning: Columns (55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,73,74,75,148,161,166) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv("../Data/data_sample_700_SOSEC_dataset_germany.csv")

,Unnamed: 0,i_NUMBER,i_START,i_END,i_TIME,unique_id,wave_first,F1A1_1,F1A2_1,F1A3_1,...,NEU3,NEU4,F3B_Huthi,state,region,migration_background,town_name,population_total,population_density_level,all_persons
0,1180,2260,3,3,744,101311.0,1.0,4,5,4,...,NaN,NaN,NaN,0,2,0,2907,713.0,150.474798,1
1,1352,2538,3,3,1632,101501.0,1.0,4,6,7,...,NaN,NaN,NaN,1,2,1,4012,8746.0,87.520847,1
2,464,1129,3,3,13412,100512.0,1.0,2,6,3,...,NaN,NaN,NaN,11,2,0,2741,21247.0,196.134512,1
3,21,275,-1,-1,987,100025.0,1.0,2,5,7,...,NaN,NaN,NaN,14,2,0,806,16493.0,289.859316,1
4,603,1344,3,3,1105,100666.0,1.0,2,5,4,...,NaN,NaN,NaN,0,2,0,3057,20856.0,564.477111,1